
.panel>* {
  float: left;
}

.panel>input {
  clear: both;
}

.list-group.active{
  display: block;
}
.list-group{
  display: none;
}

/*  кнопка выбора маркера */
.list-group-item.active {
  /*z-index: 2;*/
  color: #fff;
  background-color: #4B7872;
  border-color: #FFFFFF;
  width: 150px;
  text-align: center;
  border: solid 1px #757575;
}
.list-group-item {
  color: #000000;
  width: 150px;
  text-align: center;
  border: solid 1px #757575;
}
.list-group-item:hover {
  background-color: #DEDEDE;
}
/* таблица */
  td {
    line-height: 1.2;
}
  th, td {
    padding: 1.2rem 2rem;
    text-align: center;
    border-bottom: 1px solid #3d3d3d;
    color: #3d3d3d;
    font-size: 12.5px;
  }
  /* пользовательский стиль таблицы*/
  .td_head {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: solid 1px #FFFFFF;
    background-color: #3d3d3d; /*#DCDCDC;*/
    color: #FFFFFF; /*#000000;*/
    padding-left: 40px;
    padding-right: 40px;
  }
  .tab-content {
    margin-left: -40px;
  }

/* селект */
.select {
  cursor: pointer;
  height: 42px;
  background-color: #DCDCDC;
}
/* галочка */
.checkbox2 {
  cursor: pointer;
}

/* кнопка выбора направления */
.nav-link {
  width: 200px;
  text-align: center;
  border: solid 1px #757575;
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    color: #000000;
}
.nav-link:hover {
  color: #3d3d3d;
  background-color: #DEDEDE;
  border: solid 1px #757575;
}
.nav-link.active {
  background-color: #4B7872!important;
  border: solid 1px #757575;
}

input[type="checkbox"] {
  position: relative;
  right: 1px;
  cursor: pointer;
  color: #4B7872;
}
/* */
.accordion {
    cursor: pointer;
    text-align: left;
    margin-top: 5px;
    font-size: 14.5px;
}
.btn-link {
    color: #4B7872;
}
.modal-content {
    width: 600px;
}
    
